---
title: A page for you
layout: base.njk
---

<div class="container">
  <h1>This is a page for you</h1>
  <div class="vibe">
    You are Great!
  </div>
  <div class="love">
    ❤️‍🔥
  </div>
</div>
<script src="../js/index.js"></script>
